@charset "UTF-8";
        @import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');
        * {
            box-sizing: border-box;
            font-family: 'Noto Sans KR', sans-serif; 
        }

        #content_wrapper {
            width: 1280px;
            height: 100%;
            minheight: 1000px;
            margin: 0 auto;
        }

        #page_title {
            font-size: 32px;
            width: 100%;
            text-align: center;
            margin-top: 50px;
            line-height: 40%;
        }

        #title_underbar {
            border: 2px solid #FFA77E;
            width: 60px;
            margin: 20px auto;
        }

        .table_tr {
            width: 1280px;
            height: 50px;
        }

        #board_write {
            float: left;
            width: 100px;
            height: 40px;
            color: #ffffff;
            font-size: 16px;
            border: 0px;
            background: rgba(255, 167, 126, 0.8);
            border-radius: 10px;
            cursor: pointer;
        }

        #search_wrapper {
            float: right;
            background: rgba(255, 255, 255);
            height: 40px;
        }

        #search_bar {
            float: right;
            width: 365px;
            height: 40px;
            border: 1px solid rgba(102, 102, 102, 0.3);
            border-radius: 5px;
        }

        #search_type {
            float: left;
            width: 100px;
            height: 40px;
            text-align: center;
            font-size: 16px;
            margin-right: 10px;
            border-radius: 5px;
            color: #707070;
            border: 1px solid rgba(102, 102, 102, 0.3);
        }

        #search_keyword {
            width: 318px;
            height: 40px;
            border: 0px;
            float: left;
            height: 100%;
            font-size: 16px;
            padding-left: 10px;
            border-radius: 5px 0px 0px 5px;
        }

        .color_button {
            background: rgba(255, 167, 126, 0.4);
            float: left;
            width: 45px;
            height: 100%;
            border: 0px;
            border-radius: 0px 5px 5px 0px;
            cursor: point;
        }

        #board_table {
            width: 1280px;
            border-spacing: 0px;
            border-top: 2px solid #707070;
            border-bottom: 2px solid #707070;
        }

        .table_tr_header {
            background: rgba(255, 167, 126, 0.15);
            height: 60px;
            color: #707070;
            font-weight: 700;
        }
        
        .table_tr_header>th{
        	text-align: center;
        }
        
        .table_tr_body{
        	background: #fff;
            height: 60px;

            color: #707070;
            font-size: 16px;
        }
		.table_tr_body>td{
            border-bottom: 1px solid #707070;
		}
		.table_tr_body:last-child>td{
            border-bottom: none;
		}
		
        .td_no {
            width: 7%;
            min-width: 110px;
			text-align: center;            
        }

        .td_area {
            width: 20%;
            min-width: 120px;
			text-align: center;            
        }

        .td_title {
            width: 32%;
            min-width: 440px;
            text-align: left;
            padding-left: 20px;
        }
        
		.td_title>a{
			all: unset;
			cursor: pointer;
		}
		
        .td_writer {
            width: 14%;
            min-width: 120px;
			text-align: center;            
        }

        .td_date {
            width: 15%;
            min-width: 130px;
			text-align: center;            
        }

        .td_count {
            width: 12%;
            min-width: 120px;
			text-align: center;            
        }
		/*page navi*/
		#page_wrap {
			margin-top: 10px;
			margin-bottom: 10px;
		    width: 100%;
		}
		#page_wrap .page_ul {
		    display: table;
		    margin : 0 auto;
		}
		#page_wrap .page_ul li {
		    display: block;
		    width: 35px;
		    height: 35px;
		    float: left;
		    text-align: center;
		    margin: 0 5px;
		    line-height: 15.5px;
		    font-size: 16px;
		    color: #2A2A2A;
		}
		#page_wrap .page_ul li a {
		    display: block;
		    font-family: 'Noto Sans KR', sans-serif;
			font-size: 16px;
			color: #2A2A2A;
		    padding: 10px;
		    border-radius: 50%;
		/*     transition: ease 0.3s; */
		}
		#page_wrap .page_ul li a.page_active {
		    background-color: #FFA77E;
		    border-radius: 50%;
		    color: #fff;
		}        