@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');

     * {
            box-sizing: border-box;
            font-family: 'Noto Sans KR', sans-serif;
            margin : 0px;
			padding : 0px;
        }
		* a{
        text-decoration: none;
        color: inherit;
    	}
		#wrapper{
			width: 100%;
			height: 1080px;
			margin: 0 auto;
		}
		#body{
			width: 1920px;
			height: 1080px;
			margin: 0 auto;
			
		}
		.titleArea{
			width: 100%;
			height: 200px;
			text-align: center;
			padding-top: 100px;
		}
		.title{
			font-size: 32pt;
			border-bottom: 6px solid #FFD3BE;
		}		
		.faqArea{
			width: 100%;
			height: 880px;
		}
		.listArea{
			width: 80%;
			height: 75%;
			margin: 0 auto;
			font-size: 24pt;
			border-top: 2px solid gray;
			border-bottom: 2px solid gray;
		}
	     .content{
	         display: none;
	     }
	     .subject{
	     	width: 100%;
	     	height: 100px;
	     	font-size: 24pt;
	     	padding-top: 20px;
	     }
	     .content{
	     	width: 100%;
	     	height: 150px;
	     	background-color: #FFF2EC;
	     }
	     .iconArea{
	     	width:5%;
	     	height: 100%;
	 		float: left;
	     	background-color: #FFF2EC;
	     	text-align: center;
	     	padding-top: 50px;
	     	
	     }
	     .comment{
	     	width:80%;
	     	height: 100%;
	     	float: left;
	     	background-color: #FFF2EC;
	     	padding-top: 35px;
	     	padding-left: 20px;
	     	text-align: left;
	     	font-size: 20pt;
	     }
	     .img{
	     	width: 50px;
	     }
	   	li{
			list-style: none;
			font-size: 18pt;
			padding: 10px;
			text-align: center;
		}
		#page_wrap{
			text-align: center;
		}
		ul#page_ul {
    		display: inline-flex;
		}	
		* a{
       		text-decoration: none;
        	color: inherit;
/*page navi*/
#page_wrap {
    width: 100%;
}
#page_wrap .page_ul {
    display: table;
    margin : 0 auto;
}
#page_wrap .page_ul li {
    display: block;
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
    margin: 0 5px;
    line-height: 15.5px;
    font-size: 16px;
    color: #2A2A2A;
}
#page_wrap .page_ul li a {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	color: #2A2A2A;
    padding: 10px;
    border-radius: 50%;
/*     transition: ease 0.3s; */
}
#page_wrap .page_ul li a.page_active {
    background-color: #FFA77E;
    border-radius: 50%;
    color: #fff;
}