@charset "UTF-8";

.contents_wrap {
	width: 100%;
	height: auto;
	position: relative;
	display: inline-block;
}

.login_area {
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
}

.btn_login {
	width: 450px;
	height: 60px;
	line-height: normal;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	cursor: pointer;
	background-color: #FFA77E;
	display: block;
	border: none;
	padding: 2%;
}

.login_area input:not(:last-child){
	display: block;
	width: 450px;
	height: 60px;
	border: 1px solid #ddd;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 15px;
	padding: 2%;
	line-height: normal;
	border-radius: 0;
}

.joinOrFindInfo {
	width: 100%;
	text-align: center;
	padding-bottom: 150px;
}

.joinOrFindInfo>a {
	
	color: #666666;
	font-size: 16px;
	text-decoration: none;
	
}

#loginTypeChoice {
	width: 450px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 70px;
}

#choiceMemberLogin {
	width: 50%;
	height: 100%;
	border-bottom: 3px solid #FFA77E;
	float: left;
}

#choiceBizMemberLogin {
	width: 50%;
	height: 100%;
	border-bottom: 1px solid #A5A5A5;
	float: left;
}

#choiceMemberLogin>a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #FFA77E;
	text-align: center;
	line-height: 60px;
}

#choiceBizMemberLogin>a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	color: #A5A5A5;
	height: 100%;
	line-height: 60px;
}