@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');

        * {
            box-sizing: border-box;
            font-family: 'Noto Sans KR', sans-serif; 
        }
		* a{
        text-decoration: none;
        color: inherit;
    	}
		#wrapper{
			width: 1920px;
			height: 1080px;
			margin: 0 auto;
		}
		#body{
			width: 1920px;
			height: 1080px;
		}
		.titleArea{
			width: 1920px;
			height: 200px;
			text-align: center;
			padding-top: 100px;
		}
		.tableArea{
			width: 1920px;
			height: 880px;
		}
		.searchArea{
			width: 90%;
			height: 50px;
			text-align: right;
		}
		.resultArea{
			width: 100%;
			height: 780px;
		}
		.pagingArea{
			width: 100%;
			height: 50px;
			text-align: center;
		}
		.title{
			font-size: 32pt;
		}
		.optionBTN{
			width: 100px;
			height: 30px;
			font-size: 14pt;	
		}
		.inputdata{
			width: 200px;
			height: 30px;
			font-size: 14pt;
		} 
		.submitBTN{
			width: 80px;
			height: 30px;
			font-size: 14pt;		
		}
		.resultTable{
			width: 80%;
			margin: 0 auto;
			border-top: 3px solid #707070;
			text-align: center;
		}
		.Row{
			background-color: #FFF2EC;
			height: 10px;
		}
		th, td {
			border-bottom: 1px solid #707070;
		}
 		th{
			height: 50px;
			color: #707070;
			font-size: 18pt;
			text-shadow: 0 1px #707070;
		} 
		td {
			height: 60px;
			color: black;
		}
		.td_left{
			text-align: left;
			padding: 0 35px;
		}
		.rt-th-1{
			width: 7%;
		}
		.rt-th-3{
			width: 17%;
			height: 5px;
		}
		p{
			border-bottom: 1px solid #707070;
		}
		.subject{
			display: block;
			text-align: left;
		}
		.detailTable{
			width: 80%;
			height: 780px;
			margin: 0 auto;
 			border: 1px solid #666666;
 			border-radius: 20px;
			text-align: left;
			padding: 20px;
			color: #666666;
		}
		.listBtn{
			text-align: center;
			padding-top: 10px;
		}
		.subject{
			padding-top: 10px;		
			font-size: 22pt;
		}
		.regdate{
			padding-top: 10px;		
			font-size: 18pt;
		}
		.noticeContent{
			padding-top: 10px;		
			font-size: 18pt;
		}