@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');

		* {
            box-sizing: border-box;
            font-family: 'Noto Sans KR', sans-serif;
            margin : 0px;
			padding : 0px;
        }
		* a{
	        text-decoration: none;
	        color: inherit;
    	}
		#wrapper{
			width: 100%;
			height: 1080px;
			margin: 0 auto;
		}
		#body{
			width: 1920px;
			height: 1080px;
			margin: 0 auto;
		}
		.titleArea{
			width: 1920px;
			height: 200px;
			text-align: center;
			padding-top: 100px;
		}
		.tableArea{
			width: 1920px;
			height: 880px;
		}
		.searchArea{
			width: 90%;
			height: 50px;
			text-align: right;
		}
		.resultArea{
			width: 100%;
			height: 700px;
		}
		.pagingArea{
			width: 100%;
			height: 50px;
			text-align: center;
		}
		.title{
			font-size: 32pt;
			border-bottom: 6px solid #FFA77E;
		}
		.searchForm{
			float: right;
			
		}
		.optionBTN{
			width: 100px;
			height: 30px;
			font-size: 14pt;
			border-radius: 5px;
		}
		.inputdata{
			width: 200px;
			height: 30px;
			font-size: 14pt;
			padding-right: 5px;
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
		} 
		.submitBTN{
			width: 50px;
			height: 30px;
			font-size: 14pt;
			background-color: #FFD3BE;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;			
		}
		.resultTable{
			width: 80%;
			margin: 0 auto;
			border-top: 3px solid #707070;
			text-align: center;
		}
		.Row{
			background-color: #FFF2EC;
			height: 10px;
		}
		th, td {
			border-bottom: 1px solid #707070;
		}
 		th{
			height: 50px;
			color: #707070;
			font-size: 18pt;
			text-shadow: 0 1px #707070;
		} 
		td {
			height: 60px;
			color: black;
		}
		.td_left{
			text-align: left;
			padding: 0 35px;
		}
		.rt-th-1{
			width: 7%;
		}
		.rt-th-3{
			width: 17%;
			height: 5px;
		}
		.detailTable{
			width: 80%;
			height: 100%;
			margin: 0 auto;
 			border: 1px solid #666666;
 			border-radius: 20px;
			text-align: left;
			padding: 20px;
			color: #666666;
		}
		.regdate{
			font-size: 18pt;
		}
		.moveBTN{
			width: 75px;
			height: 35px;
			border: 1px solid #707070;
			background-color: white;
		}
		.contentBTN{
			width: 70px;
			height: 35px;
			border: 1px solid #707070;
			background-color: white;		
		}
		.searchImg{
			width: 15px;
		}
		#fix{
			width: 30px;
			height: 20px;
			border: none;
			background-color: #E6510B;
			
			color: white;
			border-radius: 5px;
		}
		.moveBTN{
			width: 75px;
			height: 35px;
			border: 1px solid #707070;
			background-color: white;
		}		
		.listBTN{
			padding-top: 20px;
			text-align: center;
		}
		.subject{
			font-size: 20pt;
			padding-left: 20px;
		}
		.regdate{
			font-size: 12pt;
			padding-top: 20px;
			padding-left: 20px;
		}
		.noticeContent{
			font-size: 16pt;
			padding-left: 20px;
		}

		
		/*page navi*/

		#page_wrap {
		  width: 100%;
		}
		#page_wrap .page_ul {
		  display: table;
		  margin: 0 auto;
		}
		#page_wrap .page_ul li {
		  display: block;
		  width: 35px;
		  height: 35px;
		  float: left;
		  text-align: center;
		  margin: 0 5px;
		  line-height: 15.5px;
		  font-size: 16px;
		  color: #2a2a2a;
		}
		#page_wrap .page_ul li a {
		    display: block;
		    font-family: 'Noto Sans KR', sans-serif;
			font-size: 16px;
			color: #2A2A2A;
		    padding: 10px;
		    border-radius: 100%;
			width: 35px;
		}
		#page_wrap .page_ul li a.page_active {
		  background-color: #ffa77e;
		  border-radius: 50%;
		  color: #fff;
		}