@charset "UTF-8";

#restaurantNav {
	width: 230px;
	height: 1000px;
	float: left;
	margin-right: 80px;
}

#restaurantList {
	width: 966px;
	height: 1000px;
	float: right;
	margin-bottom: 250px;
}

.main_tit {
	width: 100%;
	height: auto;
	position: relative;
	padding-top: 100px;
}

.main_tit span {
	width: 100%;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: left;
}

.under {
	width: 100%;
	height: 5px;
	background: #FFA77E;
	margin-top: 8px;
	margin-bottom: 30px;
}

#locationList li {
	list-style: none;
	width: 100%;
	font-size: 19px;
	margin-bottom: 10px;
	cursor: pointer;
}

.area {
	color: black;
}

#foodNavigation {
	width: 100%;
	height: 45px;
	border: 0.3px solid #A5A5A5;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}

#foodNavigation>ul {
	list-style: none;
}

#foodNavigation li {
	float: left;
	display: block;
	line-height: 45px;
}

.bar:after {
	content: "";
	border: 0.2px solid #A5A5A5;
	margin: 10px;
}

#foodNavigation li:first-child {
	padding-left: 10px;
}

#foodNavigation li>a {
	text-decoration: none;
	color: #666666;
}

#foodNavigation>select {
	border: none;
	border-left: 0.3px solid #A5A5A5;
	padding: 5px;
	color: #666666;
	font-weight: 500;
}

#saleRestaurant {
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 100px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 150px;
	justify-content: space-between;
}

#saleRestaurant>div {
	width: 165px;
	height: 165px;
	border-radius: 50%;
}

#closeRestaurant img{
	filter: grayscale(60%) opacity(0.7);	
	position:relative;
}

#closeRestaurant p{
	position:absolute;
	color:white;
  	font-size:23px;
  	font-weight:bolder;
    transform: translate(36px,-100px);
    z-index: 999;
	
}

#defaultImg{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}

#restaurantImg{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}

#saleRestaurant>div>span{
	display: block;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	color: #666666;
	letter-spacing: 0.5px;
}

#ALL{
	font-weight: bolder;
}
	/* Page */

#page_wrap {
  width: 100%;
}

#page_wrap>ul {
  display: table;
  margin: 0 auto;
}

#page_wrap>ul>li {
  display: block;
  width: 35px;
  height: 35px;
  float: left;
  text-align: center;
  margin: 0 5px;
  line-height: 15.5px;
  font-size: 16px;
  color: #2a2a2a;
}

#page_inactive {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #2a2a2a;
  padding: 10px;
  border-radius: 50%;
  transition: ease 0.3s;
}

#page_active {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  padding: 10px;
  transition: ease 0.3s;   
  background-color: #ffa77e;
  border-radius: 50%;
  color: white;
}
