@charset "UTF-8";
        @import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');

        * {
            box-sizing: border-box;
            font-family: 'Noto Sans KR', sans-serif;
        }

        #content_wrapper {
            width: 1280px;
            min-height: 800px;
            display: grid;
            grid-template-columns: 500px 650px;
            grid-template-rows: 100px 70px 500px 90px minmax(300px, auto);
            grid-column-gap: 130px;
            margin: 0 auto;
        }

        #page_title {
            grid-column: 1/3;
            grid-row: 2/3;
            font-size: 18px;
            line-height: 30px;
        }
		#page_title>a{
			color: #A5A5A5;
		}
        #item_image {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        #item_info {
            grid-column: 2/3;
            grid-row: 3/4;
            padding-top: 10px;
        }

        #menu {
            grid-column: 1/3;
            grid-row: 5/6;
        }

        #item_info>div {
            margin-bottom: 15px;
        }

        #name>div {
            font-size: 28px;
            font-weight: bold;
            line-height: 23px;
            margin-bottom: 20px;
        }

        #name>img {
            width: 40px;
            height: 25px;
            margin-top: 5px;
            margin-right: 10px;
            float: left;
        }

        .item_info {
            margin-top: 30px;
            font-size: 18px;
            color: #000;
            line-height: 20px;
        }


        .item_info>img {
            width: 20px;
            height: 20px;
            float: left;
        }

        .item_info>div {
            margin-left: 30px;
            line-height: 15px;
        }
        #menu>ul{
            padding: 0px;
            margin: 0;
            height: 43px;
            color: RGBA(102,102,102, 0.55);
        }
        #menu>ul>li{
            text-decoration: none;
            height: 45px;
            text-align: center;
            width: 80px;
            cursor: pointer;
        }
        .tab_link{
            font-size: 18px;
            list-style: none; 
            display: inline-block;
        }
        .underbar {
            border: 0.px solid #666;
            width: 100%;
            
        }
        .msg{
            margin-bottom: 10px;
        }
        .menu{
            height: 160px;
            width: 100%px;
            border: 1px solid #707070;
            border-radius: 10px;
            margin: 20px 0px 40px;
        }
        .menu>div{
            float: left;
            padding-top: 20px;
        }
        .menu>div>img{
            width: 150px;
            height: 120px;
            margin: 0px 30px;
        }
        .menu_info{
            width: 67.5%;
            height: 100%;
        }
        .menu_name{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .menu_detail{
            font-size: 16px;
            color: #5E5E5E;
        }
        .reservation{
            width: 200px;
            height: 100%;
        }
        .reservation_btn{
            width: 150px;
            height: 45px;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            background-color: #FFA77E;
            opacity: 0.8;
            border: none;
            border-radius: 10px;
            margin-top: 75px;
            margin-left: 20px;
            cursor: pointer;
        }
        ul>li.current{
            border-bottom: 3px solid #FFA77E;
            color: #FFA77E;

        }
        .tab_content{
            display: none;
        }
        .tab_content.current{
            display: inherit;
        }
        #map{
            width: 1135px;
            height: 375px;
            margin-bottom: 30px;
        }
        #tab2>img{
            float: left;
            width: 20px;
            height: 20px;
        }
        #address{
            color: #5E5E5E;
            font-size: 18px;
            line-height: 17px;
            margin-left: 30px;
            margin-bottom: 20px;
        }
        .f_image{
        	width: 69px;
        	height: 27px;
        	line-height: 29px;
        	border-radius: 10px;
        	border: 1px solid #666;
        	display: inline-block;
        	text-align: center;
        	font-size: 18px;
        	font-weight: bold;
        	color: #666;
        	margin-right: 10px;
        	float: left;
        	padding-bottom: 2px;
        	
        }