@charset "UTF-8";
        @import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');

        * {
            box-sizing: border-box;
            font-family: 'Noto Sans KR', sans-serif;
        }

        #content_wrapper {
            width: 1280px;
            height: 800px;
            display: grid;
            grid-template-columns: 230px 80px 875px 95px;
            grid-template-rows: 50px minmax(800px, 1000px);
            margin: 100px auto;
        }

        #page_title {
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 26px;
            line-height: 17px;                                                                       px;
            border-bottom: 5px solid #FFA77E;
            margin-top: 10px;
            font-weight: bold;
            
        }

        #area_select {
            grid-column: 1/2;
            grid-row: 2/3;
            font-size: 19px;
            padding-top: 30px;
        }

        #food_select {
            grid-column: 3/4;
            grid-row: 1/2;
            color: #666666;
            padding-left: 0px;
            border: 1px solid #A5A5A5;
            margin-bottom: 5px;
            padding-bottom: 10px;
            margin-left: 5px;
            line-height: 20px;

        }

        #list_order {
            grid-column: 4/5;
            grid-row: 1/2;
            border: 1px solid #A5A5A5;
            border-left: none;
            text-align: center;
            line-height: 45px;
            font-size: 14px;
            margin-bottom: 5px;
        }
		#order_select{
			cursor: pointer;
		}
        #list_select {
            grid-column: 3/5;
            grid-row: 2/4;
            padding-left: 5px;
        }
		#area_select>div{
			margin-bottom: 10px;
		}
        #area_select>div>a {
            text-decoration: none;
            color: black;
            line-height: 30 px;

        }

        #food_select>div {
            display: inline-block;
            margin: 12px 10px;

        }

        #food_select>div>a {
            text-decoration: none;
            color: #666666;

        }

        .selected_bold {
            font-weight: bold;
        }

        #list_select>ul {
            padding: 0px;
            width: 100%;
            margin: 0 auto;
        }

        #list_select>ul>.item {
            width: 165px;
            height: 200px;
            list-style: none;
            margin: 10px 36px;
            display: inline-block;
        }
        #list_select>ul>.item> .item_link{
            text-decoration: none;
        }
        #list_select>ul>.item>.item_link>.item_image>a>img {
            margin-left: 35px;
            width: 165px;
            height: 165px;
            border-radius: 80px;

        }

        #list_select>ul>.item>.item_name {
            text-align: center;
            margin-top: 10px;
            width: 165px;
            color: #666666;
            font-size: 18px;
        }
        
        .selected{
        	font-weight: bold;
        }
        
        
		/*page navi*/
		#page_wrap {
		    width: 100%;
		    margin-top: 10px;
		}
		#page_wrap .page_ul {
		    display: table;
		    margin : 0 auto;
		}
		#page_wrap .page_ul li {
		    display: block;
		    width: 35px;
		    height: 35px;
		    float: left;
		    text-align: center;
		    margin: 0 5px;
		    line-height: 15.5px;
		    font-size: 16px;
		    color: #2A2A2A;
		}
		#page_wrap .page_ul li a {
		    display: block;
		    font-family: 'Noto Sans KR', sans-serif;
			font-size: 16px;
			color: #2A2A2A;
		    padding: 10px;
		    border-radius: 50%;
		/*     transition: ease 0.3s; */
		}
		#page_wrap .page_ul li a.page_active {
		    background-color: #FFA77E;
		    border-radius: 50%;
		    color: #fff;
		}
		.bar:after {
			content: "";
			border: 0.2px solid #A5A5A5;
		}
		.closeSP{
			filter: grayscale(60%) opacity(0.7);
		}
		.closeText{
			position:absolute;
			color:white;
		  	font-size:23px;
		  	font-weight:bolder;
		    transform: translate(36px,-88px);
		    z-index: 999;
		}