<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<!-- 회원전체검색/페이징 -->
   <select id="adminSelectAllMember" resultType="admin">
      SELECT 
         userno as userNo,
         authority_id as authorityId,
         userid as userId,
         username as userName,
         nick as nick,
         email as email,
         phone as phone,
         address as address,
         detail as detailYN,
         enrolldate as enrollDate,
         card_no as cardNo,
         del_yn as delYN
      FROM MEMBER 
   </select>
   
   <!-- 전체회원 총 수 -->
   <select id="selectAllMemberTotalCount" resultType="int">
      SELECT COUNT(*) AS AllCount FROM MEMBER
   </select>

<!--  -->
 <select id="adminSearchMember" parameterType="string" resultType="admin">
      SELECT 
         userno as userNo,
         authority_id as authorityId,
         userid as userId,
         username as userName,
         nick as nick,
         email as email,
         phone as phone,
         address as address,
         detail as detailYN,
         enrolldate as enrollDate,
         card_no as cardNo,
         del_yn as delYN
      FROM MEMBER 
      WHERE ${_parameter}
   </select>
   
   <select id="selectSearchMemberTotalCount" resultType="int">
      SELECT COUNT(*) AS AllCount FROM MEMBER WHERE ${_parameter}
   </select>

     <select id="adminMemberDetail" parameterType="int" resultType="detail">
  
        SELECT
           M_RE_NO AS MRENO,
           RESERVATION_DATE AS RESERVATIONDATE,
           AUTHORITY_INFO AS AUTHORITYINFO,
           MENU_NAME AS MENUNAME,
           BIZ_NAME AS BIZNAME
        FROM
           AUTHORITY
           INNER JOIN DETAIL ON (authority.AUTHORITY_ID = DETAIL.AUTHORITY_ID)
           INNER JOIN BIZ_MEMBER ON (authority.AUTHORITY_ID = BIZ_MEMBER.AUTHORITY_ID)
           INNER JOIN MENU ON (MENU.MENU_NO = DETAIL.MENU_NO)
           WHERE USERNO = #{_params} AND DETAIL.BIZ_NO = BIZ_MEMBER.BIZ_NO
        ORDER BY
        M_RE_NO DESC        

     </select>
     
     <select id="memberDetailName" parameterType="int" resultType="hashmap">
     
     	SELECT USERID AS USERID,
			USERNAME AS USERNAME,
			NICK AS NICK
		FROM MEMBER WHERE USERNO = #{_params}
     
     </select>
     
     <select id="memberDetailTotalCount" resultType="int">
   
      SELECT COUNT(*) AS AllCount FROM DETAIL
      WHERE USERNO = #{_params}

   	 </select>	 
   	 
   	 <select id="adminSelectAllBizMember" resultType="hashmap">
   	 	
	SELECT
   		BIZ_NO AS BIZNO,
    	AUTHORITY_INFO AS AUTHORITYINFO,
    	BIZ_ID AS BIZID,
    	CEO_NAME AS CEONAME,
    	BIZ_NAME AS BIZNAME,
    	RESTAURANT_TYPE AS RESTTYPE,
    	ADDRESS AS ADDRESS,
    	BIZ_COUNT AS BIZCOUNT
	FROM AUTHORITY
    	INNER JOIN BIZ_MEMBER ON (AUTHORITY.AUTHORITY_ID = BIZ_MEMBER.AUTHORITY_ID)
    	INNER JOIN TYPE_GROUP ON (TYPE_GROUP.RESTAURANT = BIZ_MEMBER.RESTAURANT)
	ORDER BY BIZ_NO ASC   	 

   	 </select>
   	 
   	 <select id="selectAllBizMemberTotalCount" resultType="int">
   
      SELECT COUNT(*) AS AllCount FROM BIZ_MEMBER

   	 </select>	 
   	 
   	 <select id="selectAllCardMember" resultType="hashmap">
    SELECT
        C_M_NO AS CMNO,
        MEMBER.USERNO AS USERNO,
        USERID AS USERID,
        USERNAME AS USERNAME,
        TO_CHAR(ENROLLDATE, 'YYYY-MM-DD') AS ENROLLDATE,
        DETAIL AS DETAILYN,
        M_JOIN_STATUS AS STATUS,
        CHECK_YN AS CHECKYN,
        JOIN_YN AS JOINYN
    FROM CARD_MANAGE
        INNER JOIN MEMBER ON (MEMBER.USERNO = CARD_MANAGE.USERNO)
        WHERE M_JOIN_STATUS = 'WAIT'
    ORDER BY C_M_NO ASC
   	 </select>
   	 
   	 <select id="selectAllCardTotalCount" resultType="int">
   	 
   	     SELECT COUNT(*) AS AllCount FROM MEMBER WHERE M_JOIN_STATUS = 'WAIT' 
   	     
   	 </select>
   	 
   	 <select id="selectOneMemberInfo" resultType="hashmap">

	SELECT
    	USERNO AS USERNO,
   		USERID AS USERID,
    	USERNAME AS USERNAME,
    	NICK AS NICK,
    	EMAIL AS EMAIL,
    	PHONE AS PHONE,
    	AUTHORITY_INFO AS AUTHORITYINFO,
    	ADDRESS AS ADDRESS,
    	TO_CHAR(ENROLLDATE, 'YYYY-MM-DD') AS ENROLLDATE,
    	DEL_YN AS DELYN
	FROM MEMBER
    	INNER JOIN AUTHORITY ON (MEMBER.AUTHORITY_ID = AUTHORITY.AUTHORITY_ID)
    	WHERE USERNO = #{_params}   	 
   	 
   	 </select>
   	 
   	 <select id="selectOneBizMemberInfo" resultType="hashmap">
 
	SELECT
    	BIZ_NO AS BIZNO,
    	BIZ_ID AS BIZID,
    	AUTHORITY_INFO AS AUTHORITYINFO,
    	CEO_NAME AS CEONAME,
    	BIZ_NAME AS BIZNAME,
    	BIZ_EMAIL AS BIZEMAIL,
    	BIZ_PHONE AS BIZPHONE,
    	ADDRESS AS ADDRESS,
    	BIZ_TIME AS BIZTIME,
    	TO_CHAR(BIZ_ENROLLDATE, 'YYYY-MM-DD') AS BIZENROLLDATE,
    	BIZ_COUNT AS BIZCOUNT,
    	RESTAURANT_TYPE AS RESTYPE,
    	BIZ_DEL_YN AS BIZDELYN
	FROM AUTHORITY
    	INNER JOIN BIZ_MEMBER ON (AUTHORITY.AUTHORITY_ID = BIZ_MEMBER.AUTHORITY_ID)
    	INNER JOIN TYPE_GROUP ON (TYPE_GROUP.RESTAURANT = BIZ_MEMBER.RESTAURANT)
    WHERE BIZ_NO = #{_params}
	ORDER BY BIZ_NO
  	 
   	 </select>
   	 
   	 <select id="adminSelectAllNotice" resultType="hashmap">
   	 
	SELECT
    	INFO_NAME AS INFONAME,
    	I_NO AS INO,
    	I_TITLE AS ITITLE,
    	I_CONTENT AS ICONTENT,
    	TO_CHAR(I_REGDATE, 'YYYY-MM-DD') AS REGDATE,
    	I_DEL_YN AS IDELYN
	FROM INFO
    	INNER JOIN INFO_GROUP ON (INFO_GROUP.INFO_ID = INFO.INFO_ID)
    	WHERE INFO_GROUP.INFO_ID = 'HOLDNOTI' OR 
    	INFO_GROUP.INFO_ID = 'NOTICE'
   	 
   	 </select>
   	 
   	 <select id="selectAllNoticeTotalCount" resultType="int">
   	 
   	SELECT COUNT(*) AS AllCount FROM INFO 
    WHERE INFO_ID = 'HOLDNOTI' OR 
    INFO_ID = 'NOTICE'
   	 
   	 </select>
   	 
   	 <select id="adminSelectAllFAQ" resultType="hashmap">
	SELECT 
    	INFO_NAME AS INFONAME,
    	I_NO AS INO,
    	I_TITLE AS ITITLE,
    	I_CONTENT AS ICONTENT,
    	TO_CHAR(I_REGDATE, 'YYYY-MM-DD') AS REGDATE,
    	I_DEL_YN AS DELYN
	FROM INFO
    	INNER JOIN INFO_GROUP ON (INFO_GROUP.INFO_ID = INFO.INFO_ID)
    	WHERE INFO_GROUP.INFO_ID = 'FAQ'   	 
   	 </select>

	<select id="selectAllFAQTotalCount" resultType="int">

    SELECT COUNT(*) AS AllCount FROM INFO 
    WHERE INFO_ID = 'FAQ'	

	</select>
	
	<update id="updateAdminMemberEndYN" parameterType="hashmap">
	
	UPDATE MEMBER SET DEL_YN = #{delYN}
	WHERE USERID = #{userId}
	
	</update>
	
	<update id="updateAdminBizMemberEndYN" parameterType="hashmap">
	
	UPDATE BIZ_MEMBER SET BIZ_DEL_YN = #{bizDelYN}
	WHERE BIZ_ID = #{bizId}
	
	</update>
	
	<select id="selectAllSupportTotalCount" resultType="int">
	
	SELECT COUNT(*)
	FROM BIZ_RESERVATION
	
	</select>
	
	<select id="adminSelectAllSupport" parameterType="hashmap" resultType="detail">
	
	SELECT 
    	M_RE_NO AS mReNo,
    	RESERVATION_DATE AS reservationDate,
    	MENU_NAME AS menuName,
    	AUTHORITY_INFO AS authorityInfo,
    	BIZ_NAME AS bizName,
    	RE_NO AS reNo
    FROM DETAIL
    	INNER JOIN MENU ON (DETAIL.MENU_NO=MENU.MENU_NO)
    	INNER JOIN AUTHORITY ON (AUTHORITY.AUTHORITY_ID=DETAIL.AUTHORITY_ID)
    	INNER JOIN BIZ_MEMBER ON (DETAIL.BIZ_NO=BIZ_MEMBER.BIZ_NO)
    	ORDER BY M_RE_NO
	
	</select>
	
	<select id="memberSearchTotalCount" resultType="int">
	
	</select>
	
	<select id="adminNoticeDetail" parameterType="int" resultType="notice">
	
	SELECT
    	INFO_NAME AS INFONAME,
    	I_NO AS INO,
    	I_TITLE AS ITITLE,
    	I_CONTENT AS ICONTENT
	FROM INFO
    	INNER JOIN INFO_GROUP ON (INFO_GROUP.INFO_ID = INFO.INFO_ID)
    WHERE I_NO=#{_params}
	
	</select>	
	
	<select id="adminFAQDetail" parameterType="int" resultType="notice">
	
	SELECT
    	INFO_NAME AS INFONAME,
    	I_NO AS INO,
    	I_TITLE AS ITITLE,
    	I_CONTENT AS ICONTENT
	FROM INFO
    	INNER JOIN INFO_GROUP ON (INFO_GROUP.INFO_ID = INFO.INFO_ID)
    WHERE I_NO=#{_params}
	
	</select>	
	
	<select id="adminNoticeOnePost" parameterType="int" resultType="notice">
	
	SELECT
    	INFO_NAME AS INFONAME,
    	I_NO AS INO,
    	I_TITLE AS ITITLE,
    	I_CONTENT AS ICONTENT
	FROM INFO
    	INNER JOIN INFO_GROUP ON (INFO_GROUP.INFO_ID = INFO.INFO_ID)
    WHERE I_NO=#{_params}
	
	</select>	
	
	<update id="updateNotice" parameterType="notice">
	
    UPDATE INFO SET I_TITLE=#{iTitle}, I_CONTENT=#{iContent} WHERE I_NO = #{iNo}	
	
	</update>
	
	<select id="adminFAQOnePost" parameterType="int" resultType="notice">
	
	SELECT
    	INFO_NAME AS INFONAME,
    	I_NO AS INO,
    	I_TITLE AS ITITLE,
    	I_CONTENT AS ICONTENT
	FROM INFO
    	INNER JOIN INFO_GROUP ON (INFO_GROUP.INFO_ID = INFO.INFO_ID)
    WHERE I_NO=#{_params}
	
	</select>

	<update id="updateFAQ" parameterType="notice">

    UPDATE INFO SET I_TITLE=#{iTitle}, I_CONTENT=#{iContent} WHERE I_NO = #{iNo}	
	
	</update>
  
     <select id="cardDetailName" resultType="hashmap">
     
    SELECT 
    	C_M_NO AS CMNO,
        MEMBER.USERNO AS USERNO,
        MEMBER.USERNAME AS USERNAME,
        CARD_MANAGE.CARD_NO AS CARDNO,        
        C_FILE_NO AS CFILENO
    FROM CARD_MANAGE
        INNER JOIN MEMBER ON (CARD_MANAGE.USERNO=MEMBER.USERNO)
        WHERE MEMBER.USERNO=#{_params}   
        
     </select>
  
  	<!-- 게시글 삭제 -->   
     <update id="noticeDelete" parameterType="hashmap">
     
     UPDATE INFO SET I_DEL_YN=#{iDelYN} WHERE I_NO=#{iNo}
     
     </update>
  
  <!-- 공지사항 고정글 -->
  
  	<update id="noticeFix" parameterType="hashmap">
  	
  	UPDATE INFO SET INFO_ID=#{infoId} WHERE I_NO=#{iNo}
  	
  	</update>
  	
  	<insert id="noticeWrite" parameterType="notice">
  	
  	INSERT INTO INFO VALUES (
  		#{infoId}, 
  		INFO_SEQ.NEXTVAL, 
  		#{iTitle}, 
  		#{iContent}, 
  		SYSDATE, 
  		NULL, 
  		#{iDelYN})
  	
  	</insert>
  	 	
  	<update id="adminNoticePostDelete" parameterType="String">
  		UPDATE
  		 	INFO SET I_DEL_YN='Y'
  		WHERE I_NO IN(#{values})
  	</update>
  
    <update id="adminNoticeFix" parameterType="String">
  		UPDATE
  		 	INFO SET INFO_ID='HOLDNOTI'
  		WHERE I_NO = #{iNo}
  	</update>
  
  	<update id="cardNoUpdate" parameterType="hashmap">
  	
  	UPDATE CARD_MANAGE SET CARD_NO=#{cardNo} WHERE USERNO = #{userNo}
  	
  	</update>
  	
  	<select id="cardNoCheck" parameterType="int" resultType="int">
  	
  	SELECT COUNT (*) FROM CARD_MANAGE WHERE CARD_NO=#{_params}
  	
  	</select>
</mapper>