<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<select id="adminSelectAllMember" resultType="admin">
		SELECT 
			userno as userNo,
			authority_id as authorityId,
			userid as userId,
			username as userName,
			nick as nick,
			email as email,
			phone as phone,
			address as address,
			detail as detail,
			enrolldate as enrollDate,
			card_no as cardNo,
			del_yn as delYN
		FROM MEMBER 
	</select>
	
	<select id="selectAllMemberTotalCount" resultType="int">
		SELECT COUNT(*) AS AllCount FROM MEMBER
	</select>
  
  
</mapper>
