<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bizAdmin">

	<select id="bizManage" parameterType="bizMember" resultType="bizMember">
		SELECT
			biz_no as bizNo,
			c.AUTHORITY_INFO as authorityId,
			biz_id as bizId,
			biz_pwd as bizPwd,
			ceo_name as ceoName,
			biz_name as bizName,
			biz_email as bizEmail,
			biz_phone as bizPhone,
			t.RESTAURANT_TYPE as restaurant,
			area as area,
			address as address,
			biz_time as bizTime,
			reg_no as regNo,
			biz_image as bizImage,
			biz_enrolldate as bizEnrollDate,
			biz_count as bizCount,
			biz_change_yn as bizChangeYN,
			biz_del_yn as bizDelYN
		FROM
			biz_member m, TYPE_GROUP t, AUTHORITY c
        WHERE m.restaurant = t.restaurant AND m.authority_id = c.AUTHORITY_ID
        	AND biz_id = #{bizId}
	</select>

	<select id="goodsManage" resultType="BizGoods">

		SELECT * 
		FROM (
			SELECT ROWNUM RN, cc.* 
				FROM (SELECT
						menu_no as menuNo,
						biz_no as bizNo,
						authority_id as authorityId,
						restaurant as restaurant,
						menu_name as menuName,
						menu_info as menuInfo,
						original_price as originalPrice,
						dc_price as dcPrice,
						menu_image as menuImage,
						menu_del_yn as menuDelYN
					FROM
						MENU
			        WHERE
			            biz_No = #{bizNo}
				)cc
			)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>	


  	<update id="updateBiz" parameterType="bizMember">
  		update biz_member set 
	  		ceo_Name = #{ceoName},
	  		biz_Name = #{bizName},
	  		biz_Email = #{bizEmail},
	  		biz_Phone = #{bizPhone},
	  		restaurant = #{restaurant},
	  		address = #{address},
	  		biz_Time = #{bizTime},
	  		biz_Count = #{bizCount}
  		where
  			biz_Id = #{bizId}
  	</update>	
  	
   	<update id="updateWithdraw" parameterType="string">
  		update biz_member set
  			biz_del_yn = 'Y'
  		WHERE
  			BIZ_ID=#{bizId}
  	</update> 	
 
   	<update id="suportChange" parameterType="bizMember">
  		update biz_member set 
            AUTHORITY_ID = #{authorityId},
            biz_change_yn = 'Y'
  		where
            BIZ_ID=#{bizId} and biz_change_yn = 'N'
  	</update> 	
  	
	<insert id="addGood" parameterType="bizGoods">
		INSERT INTO MENU VALUES(
		MENU_SEQ.NEXTVAL,
		#{bizNo},
		#{authorityId},
		#{restaurant},
		#{menuName},
		#{menuInfo},
		#{originalPrice},
		#{dcPrice},
		NULL,
		'N'
		)
	</insert>  	

	<select id="goodModify" parameterType="bizGoods" resultType="BizGoods">
		SELECT
			menu_no as menuNo,
			biz_no as bizNo,
			c.AUTHORITY_INFO as authorityId,
			t.RESTAURANT_TYPE as restaurant,
			menu_name as menuName,
			menu_info as menuInfo,
			original_price as originalPrice,
			dc_price as dcPrice,
			menu_image as menuImage,
			menu_del_YN as menuDelYN
		FROM
			MENU m, TYPE_GROUP t, AUTHORITY c
        WHERE m.restaurant = t.restaurant AND m.authority_id = c.AUTHORITY_ID
        	AND menu_no = #{menuNo}
	</select>



   	<update id="GoodMo" parameterType="bizGoods">
  		update MENU set 
			MENU_NAME = #{menuName},
			MENU_INFO = #{menuInfo},
			ORIGINAL_PRICE = #{originalPrice}
  		where
            MENU_NO = #{menuNo} and MENU_DEL_YN = 'N'
  	</update> 	  	
 
 	<select id="bizReserv" resultType="Detail">
				SELECT
					d.M_RE_NO as mReNo,
					a.USERNAME as userName,
					d.RESERVATION_DATE as reservationDate,
					d.BIZ_NO as bizNo,
					d.AUTHORITY_ID as authorityId,
					d.RE_NO as reNo,
					m.MENU_NAME as menuName,
					d.RE_CANCLE as reCancle
				FROM
					detail d, member a, menu m
		        WHERE d.USERNO = a.USERNO AND d.MENU_NO = m.MENU_NO
					AND d.biz_No = #{bizNo}
				ORDER BY RE_NO DESC   	 
	</select>	
 
  	<select id="calculateManage" resultType="Detail">
				SELECT
						d.M_RE_NO as mReNo,
						d.RESERVATION_DATE as reservationDate,
						d.BIZ_NO as bizNo,
			            b.BIZ_NAME as bizName,
						c.AUTHORITY_INFO as authorityId,
						m.original_price as originalPrice,
						dc_price as dcPrice,
						d.RE_NO as reNo,
						m.MENU_NAME as menuName,
						d.RE_CANCLE as reCancle
					FROM
						detail d, menu m, AUTHORITY c, BIZ_MEMBER b
			        where
			        d.MENU_NO = m.MENU_NO AND d.authority_id = c.AUTHORITY_ID AND d.BIZ_NO = b.BIZ_NO
						AND d.biz_No = #{bizNo}
	</select>

    <select id="goodsManageList" resultType="hashmap">
   	 	
					SELECT
						menu_no as menuNo,
						biz_no as bizNo,
						authority_id as authorityId,
						restaurant as restaurant,
						menu_name as menuName,
						menu_info as menuInfo,
						original_price as originalPrice,
						dc_price as dcPrice,
						menu_image as menuImage,
						menu_del_yn as menuDelYN
					FROM
						MENU
			        WHERE
			            biz_No = #{bizNo1}
					ORDER BY BIZ_NO ASC   	 

   	 </select>
   	 
   	 <select id="recordBizTotalCount" resultType="int">
   
		SELECT
			COUNT(*) as AllCount
		FROM
			MENU
        WHERE
            biz_No = #{bizNo1}
   	 </select>	 
   	 
   	  <select id="memberDetailTotalCount" resultType="int">
   
	      SELECT 
	      	COUNT(*) AS AllCount 
	      FROM 
	      	DETAIL
	      WHERE 
	      	biz_no = #{bizNO}

   	 </select>	 
  	  	
</mapper>