<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">
	

	<select id="noticeDetail" resultType="notice">
		SELECT
			info_id as infoId,
			i_no as iNo,
			i_title as iTitle,
			i_content as iContent,
			i_regdate as iRegDate,
			i_image as iImage,
			i_del_yn as iDelYN
		FROM
			INFO
        where
            i_no = #{i_no} and i_del_yn = 'N'
	</select>



   	 <select id="recordNoticeTotalCount" resultType="int">
   	 
   	SELECT COUNT(*) AS AllCount FROM INFO 
    WHERE INFO_ID = 'HOLDNOTI' OR 
    INFO_ID = 'NOTICE'
   	 
   	 </select>
	
   	 <select id="selectAllNotice" resultType="hashmap">
   	 
	SELECT
    	INFO_NAME AS INFONAME,
    	I_NO AS INO,
    	I_TITLE AS ITITILE,
    	I_CONTENT AS ICONTENT,
    	TO_CHAR(I_REGDATE, 'YYYY-MM-DD') AS REGDATE,
    	I_DEL_YN AS DELYN
	FROM INFO
    	INNER JOIN INFO_GROUP ON (INFO_GROUP.INFO_ID = INFO.INFO_ID)
    	WHERE 
    	INFO_GROUP.INFO_ID = 'NOTICE'
   	 
   	 </select>	
	

	<select id="countnotice" resultType="int">
		SELECT
			COUNT(*) as cnt
		FROM
			INFO
		WHERE INFO_ID = 'NOTICE'
	</select>
	
	<select id="notiMainPageview" resultType="notice">
		select * from (select ROW_NUMBER() OVER (order BY i_No ASC) as NUM, 
			info.info_id as infoId,
			i_no as iNo,
			i_title as iTitle,
			i_content as iContent,
			i_regdate as iRegDate,
			i_image as iImage,
			i_del_yn as iDelYN
		from INFO_GROUP
            left join info on(info_group.info_ID = info.info_id)
            where info_group.info_ID = info.info_id and info_name = '공지사항' and i_del_yn = 'N')
			where NUM between 1 and 5

		
	</select>
	
	
	<select id="faqTotalCount" resultType="int">
		SELECT
			COUNT(*) AS CNT
		FROM
			INFO
		WHERE INFO_ID ='FAQ'
	</select>

	<select id="faqBoard" resultType="notice">
		SELECT 
				INFO_ID as infoId
				, I_NO as iNo
				, I_TITLE as iTitle
				, I_CONTENT as iContent
				, I_REGDATE as iRegdate
				, I_IMAGE as iImage
				, I_DEL_YN as iDelYN
		FROM INFO
		WHERE INFO_ID ='FAQ'
	</select>
	
  	 <select id="selectFixNotice" resultType="hashmap">
   	 
	SELECT
    	INFO_NAME AS INFONAME,
    	I_NO AS INO,
    	I_TITLE AS ITITILE,
    	I_CONTENT AS ICONTENT,
    	TO_CHAR(I_REGDATE, 'YYYY-MM-DD') AS REGDATE,
    	I_DEL_YN AS DELYN
	FROM INFO
    	INNER JOIN INFO_GROUP ON (INFO_GROUP.INFO_ID = INFO.INFO_ID)
    	WHERE INFO_GROUP.INFO_ID = 'HOLDNOTI'
   	 
   	 </select>		
	
</mapper>
