<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spRestaurant">

	<select id="selectAllSpRestaurant" parameterType="hashmap" resultType="kr.or.ddasum.spRestaurant.model.vo.SpRestaurant">
		SELECT
			M.BIZ_NO AS bizNo,
			AUTHORITY_ID AS authorityId,
			BIZ_ID AS bizId,
			CEO_NAME AS ceoName,
			BIZ_NAME AS bizName,
			BIZ_EMAIL AS bizEmail,
			BIZ_PHONE AS bizPhone,
			RESTAURANT AS restaurant,
			AREA AS area,
			ADDRESS AS address,
			BIZ_TIME AS bizTime,
			REG_NO AS regNo,
			BIZ_IMAGE AS bizImage,
			BIZ_ENROLLDATE AS enrollDate,
			BIZ_COUNT  - NVL(todayCount,0) AS bizCount,
			BIZ_CHANGE_YN AS bizChangeYN,
			BIZ_DEL_YN AS bizDelYN
		FROM
			BIZ_MEMBER M
			 LEFT JOIN (SELECT BIZ_NO, COUNT(*) AS allCount FROM DETAIL WHERE RE_CANCLE = 'N' GROUP BY BIZ_NO) DCOUNT ON (M.BIZ_NO = DCount.biz_NO)
		     LEFT JOIN (SELECT BIZ_NO, COUNT(*) AS todayCount FROM DETAIL WHERE RE_CANCLE = 'N' AND RESERVATION_DATE = SYSDATE GROUP BY BIZ_NO) TCOUNT ON (M.BIZ_NO = TCOUNT.BIZ_NO)
			
<trim prefix="WHERE" prefixOverrides="AND|OR">
	<if test="!area.equals('all')">
		AREA = #{area}
	</if>
	<if test="!type.equals('all')">
		AND RESTAURANT = #{type}
	</if>
		AND BIZ_DEL_YN = 'N' AND AUTHORITY_ID = 'SP'
</trim>				
<choose>
	<when test="order.equals('best')">
		ORDER BY allCount DESC NULLS LAST
	</when>
	<when test="order.equals('count')">
		ORDER BY BIZ_COUNT DESC 
	</when>			
	<otherwise>
		ORDER BY BIZ_ENROLLDATE DESC	
	</otherwise>		
</choose>
	</select>

	<select id="spRestaurantAllCount" parameterType="hashmap" resultType="int">
		SELECT
			COUNT(*)
		FROm
			BIZ_MEMBER
<trim prefix="WHERE" prefixOverrides="AND|OR">
	<if test="!area.equals('all')">
		AREA = #{area}
	</if>
	<if test="!type.equals('all')">
		AND RESTAURANT = #{type}
	</if>
		AND BIZ_DEL_YN = 'N' AND AUTHORITY_ID = 'SP'
</trim>	
	</select>
	
	<select id="selectOneSpRestaurant" parameterType="int" resultType="kr.or.ddasum.spRestaurant.model.vo.SpRestaurant">
		SELECT
			BIZ_NO AS bizNo,
			AUTHORITY_ID AS authorityId,
			BIZ_ID AS bizId,
			CEO_NAME AS ceoName,
			BIZ_NAME AS bizName,
			BIZ_EMAIL AS bizEmail,
			BIZ_PHONE AS bizPhone,
			RESTAURANT AS restaurant,
			AREA AS area,
			ADDRESS AS address,
			BIZ_TIME AS bizTime,
			REG_NO AS regNo,
			BIZ_IMAGE AS bizImage,
			BIZ_ENROLLDATE AS enrollDate,
			BIZ_COUNT - NVL((SELECT count(*) 
							FROM detail 
							WHERE biz_no = #{_parameter} 
								AND reservation_date = SYSDATE 
							GROUP BY re_no),0) AS bizCount, 
			BIZ_CHANGE_YN AS bizChangeYN,
			BIZ_DEL_YN AS bizDelYN
		FROM
			BIZ_MEMBER
		WHERE
			BIZ_NO = #{_parameter}
	</select>
	
	<select id="selectAllBizMenu" parameterType="int" resultType="kr.or.ddasum.spRestaurant.model.vo.SpMenu">
		SELECT
			MENU_NO AS menuNo,
			BIZ_NO AS bizNo,
			AUTHORITY_ID AS authorityId,
			RESTAURANT AS restaurant,
			MENU_NAME AS menuName,
			MENU_INFO AS menuInfo,
			ORIGINAL_PRICE AS originalPrice,
			MENU_IMAGE AS menuImage,
			MENU_DEL_YN AS menuDelYN
		FROM
			MENU
		WHERE
			BIZ_NO = #{_parameter}		
	</select>
	
	<insert id="insertReservation" parameterType="hashmap">
		INSERT INTO 
			DETAIL
		VALUES
			(M_RE_SEQ.NEXTVAL
			, #{userNo}
			, SYSDATE
			, #{bizNo}
			, 'SP'
			, #{menuNo}
			, 'N'
			, TO_CHAR(SYSDATE, 'YYYYDDMM') || #{authKey})
	</insert>
</mapper>
