<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!-- Settings -->
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="callSettersOnNulls" value="true" />
    </settings>
	
	<typeAliases>
		<typeAlias type="kr.or.ddasum.member.model.vo.Member" alias="member"/>
		<typeAlias type="kr.or.ddasum.member.model.vo.BizMember" alias="bizMember"/>
		<typeAlias type="kr.or.ddasum.bizMember.model.vo.BizGoods" alias="BizGoods"/>
		<typeAlias type="kr.or.ddasum.board.model.vo.Notice" alias="notice"/>
		<typeAlias type="kr.or.ddasum.admin.model.vo.AdminMember" alias="admin"/>
		<typeAlias type="kr.or.ddasum.file.model.vo.FileData" alias="fileData"/>
		<typeAlias type="kr.or.ddasum.member.model.vo.Detail" alias="detail"/>
	</typeAliases>

</configuration>
