@charset "UTF-8";

/* Content */

a {
  text-decoration: none;
}

.container .container_top {
  width: 100%;
  overflow: hidden;
}
.container .container_top .count-all {
  float: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #2a2a2a;
  margin-top: 10px;
}

.container .container_top .count-all span {
  font-weight: 700;
}

.box-search {
  width: auto;
  float: right;
}
.btn-write {
  float: left;
  margin-right: 10px;
}
.box-search > form {
  float: left;
}
.select-search {
  float: left;
  width: 130px;
  height: 40px;
  position: relative;
  margin-right: 20px;
}

.select-search select {
  background-color: white;
}



.select-search > select {
  width: 100%;
  height: 100%;
  border: 0.5px solid #d8d8d8;
  border-radius: .25rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #707070;
  padding: 0 40px 0 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-search > select::-ms-extend {
  display: none;
}
.icon-arrow {
  position: absolute;
  top: 13px;
  right: 16px;
  color: #aaaaaa;
  z-index: 999;
}

.input-search {
  float: right;
  width: 300px;
  height: 40px;
  border: 0.5px solid #d8d8d8;
  box-sizing: border-box;
  /* margin-right: 10px;    */
}

.input-search > input {
  border: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #2a2a2a;
  margin-top: 6px;
  margin-left: 10px;
}

.search-btn {
  width: 40px;
  height: 40px;
  border: 0;
  float: right;
}

.search {
  width: 40px;
  height: 40px;
  border: 0;
  background-color: rgb(255, 167, 126, 0.4);
  cursor: pointer;
}

.icon-search {
  font-size: 16px;
  margin: 0px auto;
  color: #c8c8c8;
}

.box-search > input {
  float: left;
}

.container .table_wrap {
  width: 100%;
  clear: both;
}

.container table {
  width: 100%;
  margin: 30px 0;
  border-top: 0.5px solid #d8d8d8;
}

.container table tr {
  height: 80px;
  line-height: 80px;
  border-bottom: 0.5px solid #d8d8d8;
}
.container table tr:first-child {
  height: 90px;
  line-height: 90px;
}

.container table tr th,
.container table tr td {
  padding-left: 0px;
}

.container table tr th {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: black;
  text-align: center;
  border-bottom: 0.5px solid #d8d8d8;
}

.container table tr td {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #2a2a2a;
  text-align: center;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.w-200 {
  width: 200px;
}
.w-270 {
  width: 270px;
}
.w-300 {
  width: 300px;
}
.w-400 {
  width: 400px;
}

.container table tr td button {
  width: 90px;
  height: 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: white;
}

.container table tr td button.ok_btn {
  background-color: #ffa77e;
}

.container table tr td button.none_btn {
  background-color: #ffd9c8;
}

.container table tr td button.wait_btn {
  background-color: #6a6363;
}

.container table tr td button.pass_btn {
  background-color: #cbcbcb;
}

.container table tr td button.success_btn {
  background-color: #74cbbd;
}

.container table tr td button.reject_btn {
  background-color: #ffa0a2;
}

.container table tr td button.write_btn {
  background-color: #e6510b;
}

.container table tr td button.man_btn {
  background-color: white;
  border: 0.5px solid #aaaaaa;
  color: black;
}
.container table tr td button.modify_btn {
  background-color: white;
  border: 0.5px solid #aaaaaa;
  color: black;
}
.container table tr td button.del_btn {
  background-color: #5eb656;
}

.container table tr td button.re_btn {
  background-color: #ff6464;
}
.container table tr td button a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;

}

/* Page */

#page_wrap {
  width: 100%;
}

#page_wrap>ul {
  display: table;
  margin: 0 auto;
}

#page_wrap>ul>li {
  display: block;
  width: 35px;
  height: 35px;
  float: left;
  text-align: center;
  margin: 0 5px;
  line-height: 15.5px;
  font-size: 16px;
  color: #2a2a2a;
}

#page_inactive {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #2a2a2a;
  padding: 10px;
  border-radius: 50%;
  transition: ease 0.3s;
}

#page_active {
  display: block;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  padding: 10px;
  transition: ease 0.3s;   
  background-color: #ffa77e;
  border-radius: 50%;
  color: white;
}