@charset "UTF-8";

#navigation {
    width: 15%;
    height: 100%;
    position: fixed;
    background-color: #FFD3BE;
    z-index: 999;
    margin : 0px;
}

#logo {
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 0px;
 
}
#logo>img {
	height: 85px;
	margin-top: 40px;
}

/*불릿 삭제*/
* > ul {
	  list-style:none;
}

* > li {
	   list-style:none;
}

.menu_list {
    width: 100%;
    overflow: hidden;    
}

.mdl_nav > li {
    width: 100%;
    height: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
	line-height: 50px;
    color: #471111;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    cursor : pointer;
    
}

.mdl_nav > li > i {
	font-size: 12px;
	transform: rotate(-90deg);
	transition: all 0.25s;
	position: absolute;
	right: 60px;
	top: 20px;
}

.sub_nav {
   width: 100%;
   display: none;
   height: auto;
   overflow: hidden;
   background-color: #FFF6F2;
}

.sub_nav li {
   width: 100%;
    height: 50px;
   line-height: 50px;   
   cursor : pointer;   
}

.sub_nav li a {
	display: block;
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #471111;
    margin-left: 30px;
    transition: ease 0.3s;    
    
}

.sub_nav li:hover {
    background-color: #FFF6F2;                               
    transition: ease 0.3s;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
        
}
.sub_nav li:hover a {
    color: #471111;
    transition: ease 0.3s;
    
}

.fas fa-chevron-down.on {
	transform : rotate(-180deg);
	}