@charset "UTF-8";

	
	body { 
    	margin : 0px;
    }
	
	*  div {
		box-sizing: border-box;
	}
    * a{
        color: white;
        text-decoration: none;
    }
    /*헤더*/
    #header{
        min-width: 1500px;
        width: 100%;
        height: 105px;
        position: fixed;
        background-color: rgba(166,166,166,0.2);  
    }
   
    #header-logo-area{ /*로고*/
        width: 25%;
        height: 105px;
        float: left;   
    }
    #header-logo-img {
        width: 79px;
        height: 66px;
        margin: 18px 0px 0px 80px;
    }
    #header-meun-area{ /*센터메뉴*/
        width: 50%;
        height: 105px;
        float: left;
          
    }
    #header-menu-ul {
        margin:  auto;
        padding: 0px;
        width: 100%;
        height: 65%;
        line-height: 105px;
    }
   
    #header-menu-ul>li {
        height: 100%;
        width: 19%;
        line-height: 35px;
        display: inline-block;
        text-align: center;
        
        
    }

    #header-menu-ul>li>a {
        width: 100%;
        height: 100%;
        color: white;
        font-family: 'Noto Sans KR';
        text-decoration: none;
        font-size: 16px;
        display: block;
        font-weight: bold;
        font-size: 18px;
    }
     #hover-menu1 {
        /*고객센터 호버시 나오는 서브메뉴*/
        width: 230px;
        height: 50px;
        background-color: black;
        border-radius: 20px;
        margin-left: -15px;
        position: absolute;
        padding-top: 6px;
    }

    .hover-text1 {
        color: white;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 18px;
    }
    
   #submenu {
	background-color: #FFA77E;
	margin-left: -20px;
	margin-top: -25px;
	text-align: center;
	line-height: 50px;
	border-radius: 100px;
	width: 220px;
	height: 50px;
	display: none;
	}
	
	#submenu>a {
		text-decoration: none;
		color: white;
		font-size: 16px;
	}
	
	#submenu>a {
		text-decoration: none;
		color: white;
		font-size: 16px;
	}
	
	#logoImg {
		width: 79px;
		height: 66px;
		margin: 18px 0px 0px 80px;
	}

	#member {
	line-height: 105px;
	width: 25%;
	height: 105px;
	float: left;
	color: white;
	font-weight: bold;
	font-size: 18px;
	
	}

	#member>span {
		width: 25%;
	height: 100%;
	display: block;
	float: right;
	}
	
	#join {
		margin-right: 80px;
	}
	
	#member>span>a {
		color: white;
		text-decoration: none;
		width: 100%;
		height: 100%;
		display: block;
		text-align: center;
	}
	
	#login {
		position: relative;
	}
	
	#mypage_submenu {
	    background-color: white;
	    box-shadow: 2px 3px 8px rgb(0 0 0 / 10%);
	    text-align: center;
	    border-radius: 20px;
	    width: 190px;
	    height: 110px;
	    position: absolute;
	    top: 80px;
	    right: 9.5%;
	    padding: 5px;
	    display: none;
	}
	
	#mypage_submenu>div {
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
	}
	
	#mypage_submenu>div>img {
		width: 22px;
		height: 22px;
	}
	
	#mypage_submenu>div>a {
		color: #666666;
		margin-left: 10px;
		font-size: 16px;
	}
    


/*배경 img*/
    #header-img{
        min-width: 1500px;
        width: 100%;
    }
    