@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

#footer {
	width: 100%;
	height: 150px;
	background-color: #5D5D5D;
	opacity: 0.8;
	float: left;
}

#footer-img-area {
	width: 15%;
	height: 100%;
	float: left;
}

#footer-img {
	width: 79px;
	height: 66px;
	margin: 50px 0px 0px 80px;
}

#footer-text-area {
	width: 85%;
	height: 100%;
	float: left;
}

#footer-text {
	width: 50%;
	height: 50%;
	margin-top: 60px;
	color: white;
	font-weight: 400;
	font-size: 14px;
}